{% extends 'style.html' %}

{% block input  %}

      
    <form action="", method="POST">
        {% if email == 1 %}
        mail sent to {{email}}
        {% endif %}
      <input type="text" name="fname" placeholder="First Name" />
      <input type="text" name="lname" placeholder="Last name" />
      <input type="text" name="username" placeholder="Enter Username" />
      <input type="password" name="password" placeholder="Enter password" />
      <input type="email" name="email" placeholder="Enter email" />
      <input type="number" name="mblno" placeholder="Enter Mobile number" />
      <input type="submit" />
    </form>
 
 {% endblock  %}
